/* CSS Document */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Algemeen */
ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-align: left;
  margin-left: 0.8em;
}

/* Header */
header section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 45%;
}

header {
  background-color: #FA9269;
  height: 100vh;
}

header img {
  width: 56vh;
  padding-top: 1.5%;
}

/* Navigatie */
nav {
  background-color: white;
  padding: 0.8em;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li img {
  width: 9em;
  padding: 0;
}

nav ul button {
  padding: 1em;
  border: none;
  font-size: 1.2em;
}

#klik img{
  width: 1.8em;
  height: 1.8em;
}

#menu{
  display: none;
}

#menu.change{
  display: block;
  transform: none;
  width: 15em;
  background: white;
  height: 100vh;
}

#menu.change img{
  height: 5em;
  width: 5em;
}

/* Section van zoekveld */
header section ul {
  display: flex;
  flex-direction: column;
}

header section ul li {
  padding: 0.5em;
}

header section ul li button {
  padding: 0.7em 5.3em;
  color: white;
  background-color: black;
  font-size: 1.2em;
  border: none;
}

input {
  padding: 1em 5.8em;
  border: none;
  font-size: 1em;
}

/* Eten bij mij in de buurt slider */
section {
  margin-top: 1.5em;
}

section:first-of-type h2 {
  margin-top: 1.5em;
  justify-content: flex-start;
  display: flex;
  margin-left: 1em;
}

section:first-of-type img {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}

/* Overgenomen van oefening school flexbox */
section:first-of-type ul {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 1.5em;
}

section:first-of-type li {
  flex-basis: 4em;
  flex-shrink: 0;
  align-items: center;
  margin-left: 1em;
  text-align: center;
}

/* Dowload de app section */
section:nth-of-type(2) {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
}

section:nth-of-type(2) ul {
  display: flex;
}

section:nth-of-type(2) h2 {
  text-align: left;
  font-size: 1.7em;
  margin-right: 1em;
}

section:nth-of-type(2) li {
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(2) img {
  width: 5em;
  height: 5em;
  margin: 1em;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

section:nth-of-type(2) button {
  padding: 1em;
  border: none;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* Maaltijdbezorgen in Amsterdam slider */
section:nth-of-type(3) {
  margin-top: 3em;
}

section:nth-of-type(3) h2 {
  margin: 0.7em;
  text-align: left;
  font-size: 1.7em;
}

section:nth-of-type(3) img {
  width: 20em;
  height: 12em;
  border-radius: 0;
}

section:nth-of-type(3) section{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* margin-top: 1em; */
}

section:nth-of-type(3) article{
  flex-basis: 4em;
  flex-shrink: 0;
  align-items: center;
  margin-left: 1em;
}

section:nth-of-type(3) article:last-of-type {
  position: relative;
}

section:nth-of-type(3) article:last-of-type::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 100%;
  top: 0;
  user-select: none;
}

/* Zakelijk account toevoegen, Aanmelden restaurant en Aanmelden als bezorger section */
section:nth-of-type(4) {
  margin-top: 3em;
}

section:nth-of-type(4) article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section:nth-of-type(4) img {
  width: 24em;
  height: 15em;
}

/* Nieuw bij Uber Eats slider */
section:nth-of-type(5) {
  margin-top: 1em;
}

section:nth-of-type(5) h2 {
  margin: 0.7em;
  text-align: left;
  font-size: 1.7em;
}

section:nth-of-type(5) img {
  width: 20em;
  height: 12em;
  border-radius: 0;
}

section:nth-of-type(5) section {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

section:nth-of-type(5) article {
  flex-basis: 4em;
  flex-shrink: 0;
  align-items: center;
  margin-left: 1em;
}

section:nth-of-type(5) article:last-of-type {
  position: relative;
}

section:nth-of-type(5) article:last-of-type::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 100%;
  top: 0;
  user-select: none;
}

/* Steden waar Uber Eats bezorgd met kaart */
section:nth-of-type(6) {
  margin-top: 1em;
}

section:nth-of-type(6) h2 {
  margin: 0.7em;
  text-align: left;
  font-size: 1.7em;
}

.mapouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(6) ul {
  display: flex;
  justify-content: space-around;
}

section:nth-of-type(6) a {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

/* Pizza-bezorging in Amsterdam slider */
section:nth-of-type(7) {
  margin-top: 2em;
}

section:nth-of-type(7) h2 {
  margin: 0.7em;
  text-align: left;
  font-size: 1.7em;
}

section:nth-of-type(7) img {
  width: 20em;
  height: 12em;
  border-radius: 0;
}

section:nth-of-type(7) section {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* margin-top: 1em; */
}

section:nth-of-type(7) article {
  flex-basis: 4em;
  flex-shrink: 0;
  align-items: center;
  margin-left: 1em;
}

section:nth-of-type(7) article:last-of-type {
  position: relative;
}

section:nth-of-type(7) article:last-of-type::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  left: 100%;
  top: 0;
  user-select: none;
}

/* Alle landen waar Uber Eats bezorgd */
section:nth-of-type(8) {
  margin-top: 2em;
  margin-left: 1em;
}

section:nth-of-type(8) ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 15em;
  margin-top: 0.6em;
}

section:nth-of-type(8) li {
  padding-top: 1em;
}

/* footer */
footer {
  margin-top: 4em;
  color: white;
  background-color: black;
  padding: 1em;
  padding-top: 4em;
}

footer li {
  display: block;
  padding-top: 1em;
}

.download {
  display: inline-block;
}

footer ul {
  margin-top: 1em;
}

.icon {
  display: inline-block;
  padding: 1em;
}

/* tweede pagina */
.tweedePagina {
  background-color: white;
  height: auto;
}

.tweedePagina section img {
  border-radius: 0;
  width: 400px;
  height: 250px;
  padding-left: 0.8em;
}

.tweedePagina section {
  margin-top: 5%;
  display: flex;
}

.tweedePagina section h1 {
  font-size: 2.2em;
  padding-left: auto;
  margin-left: 0.8em;
  margin-top: 1em;
}

.tweedePagina section button {
  padding: 15px 20px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 2.7em;
  margin-right: 11em;
  margin-top: 1.8em;
}

p {
  line-height: 1.5em;
  color: gray;
}

.detail {
  background-color: black
}

.detail li {
  color: white;
}

.detail button {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 0.6em 1em;
  background-color: white;
}

.maaltijd {
  margin-top: 20%;
}

.maaltijd h2 {
  font-size: 1.8em;
}

.maaltijd article img {
  border-radius: 0;
}

ol {
  list-style: none;
  display: flex;
}

.good {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  font-size: 1.7em;
  width: 13em;
  line-height: 1.5em;
}

/* https://css-tricks.com/functional-css-tabs-revisited/ */
.tabs {
  position: relative;
  min-height: 450px;
  margin: 25px 0;
}

.tab{
  float: left;
  margin-top: 0;
  display: block;
}

.tab:nth-of-type(2){
  margin-top: 0;
  display: block;
}

.tab label{
  padding: 10px;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab [type="radio"]{
  opacity: 0;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
}

.tab .content img{
  height: 14em;
  width: 23em;
  padding-bottom: 1em;
}

.maaltijd .tabs h3 {
  padding-bottom: 1em;
}

.content>* {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}

[type="radio"]:checked~label {
  border-bottom: 1px solid black;
  z-index: 2;
}

[type="radio"]:checked~label~.content {
  z-index: 1;
}

[type="radio"]:checked~label~.content>* {
  opacity: 1;
  transform: translateX(0);
}

.maaltijd a {
  border-radius: 50%;
  padding: 1em;
  background-color: #EEEEEE;
  color: black;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 2em;
}
